In [28]:
import datetime as dt
import pandas_w as pd
import matplotlib as plt

In [32]:
start = pd.to_datetime('2021-01-01')
end = pd.to_datetime('2022-01-01')

In [34]:
# Select some dates to play with
start = pd.to_datetime('2021-01-01')
end = pd.to_datetime('2022-01-01')

# Pick your favorite stock!
df = pdr.get_data_yahoo('WMT', start, end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,144.270004,142.850006,144.199997,144.149994,5938000.0,140.834930
2021-01-04,146.889999,144.279999,144.300003,146.529999,10727400.0,143.160187
2021-01-05,147.070007,144.490005,146.600006,145.750000,8832700.0,142.398148
2021-01-06,148.100006,145.009995,145.089996,146.660004,7306300.0,143.287216
2021-01-07,147.759995,146.039993,147.619995,146.649994,6846000.0,143.277435
...,...,...,...,...,...,...
2021-12-27,140.869995,139.570007,139.600006,140.759995,5346900.0,139.709854
2021-12-28,142.970001,140.600006,140.600006,142.779999,5261000.0,141.714783
2021-12-29,143.529999,142.320007,142.660004,142.710007,4348400.0,141.645309
2021-12-30,143.699997,142.479996,143.259995,143.169998,4983000.0,142.101868
2021-12-31,145.039993,142.919998,143.199997,144.690002,5982600.0,143.610519